In Python, a set is a built-in data type that represents an unordered collection of unique elements. Sets are used to store a collection of items, similar to lists or tuples, but unlike lists, sets do not allow duplicate values. Sets are defined by enclosing a comma-separated sequence of values within curly braces { } or by using the set( ) constructor.

In [1]:
# Adding Elements
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [2]:
# Removing Elements
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
my_set.discard(5)
print(my_set)

{1, 2, 4}

In [4]:
# Union and Intersection
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))
print(set1.intersection(set2))

{1, 2, 3, 4, 5}
{3}

In [5]:
# Difference and Symmetric Difference
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

{1, 2}
{1, 2, 4, 5}

In [6]:
# Membership
my_set = {1, 2, 3, 4, 5}
if 5 in my_set:
    print(True)
else:
  print(False)

True

In [7]:
# Iterating Over Elements
my_set = {1, 2, 3, 4, 5}
for number in my_set:
    print(number)

1
2
3
4
5

In [8]:
# Finding the Length
my_set = {1, 2, 3, 4, 5}
print(len(my_set))

5

In [10]:
# Removing Duplicates from a List
num_list = [1, 2, 2, 3, 4, 4, 5]
print(list(set(num_list)))

[1, 2, 3, 4, 5]